/* SITE WIDE */
h1,h2 {
  font-family: 'Barlow', sans-serif;
  color: #003348;
}

h5 {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
}

.main {
  margin-top: 140px;
}

/* NAVBAR */
.navbar {
  background-color: #003348;
  color: white;
  border-bottom: solid 5px #2AD2C9;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.nav-item::after {
  content:'';
  display: block;
  width: 0px;
  height: 2px;
  background: #2AD2C9;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #2AD2C9;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.logo {
  width: 90px; 
  height: 70px;
}

/* INDEX.HTML */
#main-page {
  background: url('../img/backgr.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Intro blurb */
.intro {
  padding-left: 55px;
}

.intro-title {
  margin-top: 115px;
  color: white;
  font-weight: bolder;
  text-align: right;
}

.intro-text {
  font-weight: bold;
  text-align: right;
  padding-top: 15px;
}

/* Portfolio Button */
.btn-dark {
  background-color: #003348;
  float: right;
  padding: 10px 60px 10px 60px;
}

.btn-dark:hover {
  background-color: #003348;
  text-decoration: underline;
}

.btn-dark a {
  color: #ffffff;
}

.btn-dark a:hover {
  color: #2AD2C9;
}

/* ABOUT ME */
/* Timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding: 0 20px 0 10px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #2AD2C9;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* Education logos */
.ed-logos {
  width: 150px;
  height: 150px;
  margin: 20px 0 10px 0;
}

/* Education headings */
.edu-head {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
}

/* CV download */
.cv-link {
  margin: 20px 0 0 30px;;
}

/* Skill headings */
.skill-head {
  font-weight: bold;
  font-size: 16px;
}
/* Dev icons */
.figure {
  display: inline-block;
}

figure svg {
  width: 75px;
  height: 75px;
  padding: 5px 0 5px 0;
}

/* PORTFOLIO */
/* Porftolio thumbnails */
.hover figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

.zen img {
  padding: 28px 0 14px 0;
}

.card-title {
  font-family: 'Barlow', sans-serif;
  color: #212529;
}

.card-text {
  padding-top: 10px;
}

/* BLOG */
/* Blog images */
.blog-pic {
  width: 700px;
  height: 300px;
}

/* Blog buttons */
.btn-primary {
  background-color: #236F91;
  border-color: #236F91;
}

.btn-primary:hover {
  background-color: #008AD8;
  border-color: #008AD8;
}

.list-unstyled a {
  color: #236F91;
}

.list-unstyled a:hover {
  color: #008AD8;
}

.card-footer span {
  color: #008AD8;
}

.post-list {
  list-style-type: circle;
  color: #008AD8;
}

/*FOOTER*/
footer {
  background: #003348;
  color: white;
  margin-top: 125px;
  width: 100%;
  border-bottom: solid 5px #2AD2C9;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #2AD2C9;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
}

.footer-middle {
  padding-top: 5px;
  color: white;
}

/* FOOTER SOCIAL ICONS */
.social-media {
  padding: 10px 0 15px 0;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoGithub:hover {
  background-color: #211F1F;
}

.social-network a.icoTwitter:hover {
  background-color: #7DBBE6;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoGithub:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
